.navbar{
    width: 99vw;
    height: 30vh;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: sticky;
    top: 0;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background: rgb(107,15,15);
    background: linear-gradient(90deg, rgba(107,15,15,1) 0%, rgba(18,14,61,1) 89%);
}
a{
    text-decoration: none;
    color: white;
    font-size: 15px;
    font-weight: bold;
}