.navbar{
    width: 100vw;
    height: 10vh;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: sticky;
    top: 0;
    background: rgb(107,15,15);
    background: linear-gradient(90deg, rgba(107,15,15,1) 0%, rgba(18,14,61,1) 89%);
}
a{
    text-decoration: none;
    color: white;
    font-size: 15px;
    font-weight: bold;
}

.search{
    width: 250px;
    height: 5vh;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border: 1px solid transparent;
    background: white;
}

.search-button{
    width: 10%;
    height: 6vh;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    color: rgb(107,15,15);
    background: white;
    cursor: pointer;
}